@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-font-size, $max-font-size) {
  $su: strip-unit($max-font-size - $min-font-size);
  font-size: $min-font-size;

  // xl
  @media (min-width: 1200px) {
    font-size: $max-font-size;
  }

  // lg
  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: calc(#{$min-font-size} + #{$su} * ((100vw - 992px) / (1199 - 992)));
  }

  // md
  @media (min-width: 769px) and (max-width: 991px) {
    font-size: calc(#{$min-font-size} + #{$su} * ((100vw - 769px) / (991 - 769)));
  }

  // sm
  @media (min-width: 576px) and (max-width: 768px) {
    font-size: calc(#{$min-font-size} + #{$su} * ((100vw - 576px) / (768 - 567)));
  }
}