@font-face {
  font-family: 'robotoregular';
  src: url('./font/roboto-regular-webfont.woff2') format('woff2'),
    url('./font/roboto-regular-webfont.woff') format('woff'),
    url('./font/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-style: normal;
  font-weight: normal;
}